<div class="col-sm-4">
    <div class="sidebar">
        <aside class="widget about-me-widget  text-center">
            <div class="about-me-content">
                <div class="about-me-img">
                    <img src="{{ root_url }}/img/me.png" alt="" class="img-me img-circle">
                    <h2 class="text-uppercase">سلام</h2>
                    <p>این منم! امیر محمدی
                    <br/>
                        عاشق وَر رفتن با یه سری موجود دودویی که ظاهرا بهشون میگن کامپیوتر! 
                    </p>
                </div>
            </div>
        </aside>
        <aside class="widget widget-popular-post">
            <h3 class="widget-title text-uppercase text-center">محبوبها</h3>
            <ul>
                <li>
                    <div class="p-content">
                        <h4><a href="" class="text-uppercase">nothing!</a></h4>
                        <span class="p-date">30 آذر 97 </span>
                    </div>
                </li>
            </ul>
        </aside>
        <aside class="widget widget-popular-post">
                <h3 class="widget-title text-uppercase text-center">لینکهای دوستداشتنی</h3>
                <ul>
                    <h4><a href="http://jadi.net" class="text-uppercase">کیبورد آزاد</a></h4>
                    <h4><a href="http://saharshaker.com" class="text-uppercase">سحر شاکر</a></h4>
                </ul>
            </aside>
    </div>
</div>
