<html>
{{ partial "head.html" . }}
    <body>
        <main role="main">
            <img width="20%" style="padding-top: 40px" src="/logo.png"></img>
            <h1>چیزها و نوشته‌ها</h1>
            مطالبی که می‌خوانید حاصل ذهن مغشوش یک دانشجوی کامپیوتر بوده و مسئولیت هرگونه خطای احتمالی به عهده ساکنین سیاره «کپلر ۶۹ سی» می‌باشد!
            <ul>
                    <li>ایمیل: <a dir="ltr">amiremohamadi<i> (at) </i>yahoo<i> (dot) </i>com</a></li>
                    <li>گیت‌هاب: <a dir="ltr" href="https://github.com/amiremohamadi">@amiremohamadi</a></li>
            </ul>
            <p>
                <a href="/gpg.txt">کلید GPG</a>
                -
                <a dir="ltr">5E 5B 5E A2 4D EB 0B 5A</a>
            </p>

            <h2>نوشته‌ها</h2>
            <ul>
                {{ $paginator := .Paginate (where .Site.RegularPages "Type" "in" .Site.Params.mainSections) }}
                {{ if eq $paginator.NumberOfElements 0 }}
                    <li>فعلا خبری نیست!</li>
                {{ end }}
                {{ range $paginator.Pages }}
                    <li><a href="{{ .RelPermalink }}">{{ .Title }}</a> - {{ partial "persianDate.html" .Params.Date }}</li>
                {{ end }}
            </ul>
        </main>

        {{ partial "footer.html" . }}
</body>
</html>
