

<!DOCTYPE html>
<html lang="fa">
<head>
	<!-- Global site tag (gtag.js) - Google Analytics -->
	<script async src="https://www.googletagmanager.com/gtag/js?id=UA-131212033-2"></script>
	<script>
  		window.dataLayer = window.dataLayer || [];
  		function gtag(){dataLayer.push(arguments);}
  		gtag('js', new Date());

  		gtag('config', 'UA-131212033-2');
	</script>

	<!-- Document Settings -->
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!-- Page Title -->
	<title>روزنوشتهای یک کامپیوتریست</title>
	<!-- Styles -->
	<link rel="stylesheet" href="{{ root_url }}/styles/style.css">
</head>
<body style="height: 100%;">
	<div class="bg">
		<div class="img-title">
			روزنوشتهای یک کامپیوتریست! از لینوکس و برنامه نویسی گرفته تا درس و مشق و دانشگاه    
		</div>
	</div> 
</body>
<body>
<!-- Scripts -->
<script src="{{ root_url }}/js/shrink.js"></script>

<header id="header">
	<nav class="navbar  navbar-default">
		<div class="container">
			<div id="logo">
				<img id="logo" src="{{ root_url }}/img/header-me.png">
			</div>
			<div id="restofheader">
				<a href="/">خانه</a>
				<a href="/about-me">تماس و درباره من</a>
			</div>
		</div>
	</nav>
</header>

<div class="default-content">
	<div class="container">
		<div class="row">
			{{ content }}		
			{% include sidebar.html %}
			</div>
		</div>
	</div>
</div>
<footer>
	<div class="container-fluid text-center ft-copyright">
		<p>
			<a href="https://github.com/amiremohamadi">ساخته و پرداخته شده توسط خودم (: </a>
		</p>
	</div>
</footer>
</body>
</html>
